@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 1.2em;
    background-color: #0d1d2b;
    background-size: cover;
    background-repeat: round;
    background-image: url('http://qlhs.com/anh-may-hoat-hinh.jpg');
}

.nav-title {
    display: flex;
    justify-content: space-between;
    height: 81px;
    color: #FFFFFF;
}

.logo_title {
    margin: 0px 0px 0px 10px;

}

.logo_name {
    font-style: initial;
    color: #FFFFFF;
    font-size: 50px;
    position: relative;
    top: -6px;
    font-weight: bolder;
    text-decoration: none;
}

.logo_name:hover {
    text-decoration: none;
}

.form-lang {
    position: relative;
    top: 17px;
    right: 25px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    position: relative;
    top: -13px;
    border-radius: 14px;
    margin-left: 25px;
    margin-right: 25px;
    border: solid 1px #217093;
    box-shadow: 1px 2px 3px 1px;
}

.action .profile {
    text-align: center;
    width: 60px;
    height: 63px;
    border-radius: 20%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    right: 11px;
}

.action .profile img {
    position: relative;
    top: 11px;
    width: 48px;
    height: 41px;
    border-radius: 20%;
    overflow: hidden;
    cursor: pointer;
}

.action .menu {
    z-index: 1;
    width: auto;
    position: absolute;
    top: 33px;
    right: 11px;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 5px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    color: #217093;
    height: 100px;
}

.action .menu.active {
    border: solid 1px;
    right: 11px;
    top: 55px;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: 100px;
}

.menu_btn-logout {
    background-color: #4eb8dd;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 0.375rem;
    color: #FFFFFF;
}

.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    white-space: nowrap;
    cursor: default;
    z-index: 0;
    line-height: 2.6em;
    font-size: 1rem;
}

.atom-toolbar.expanded .btn.active {
    background-color: #1f3e59 !important;
    color: white !important;
}

.btn-default {
    color: #99a9b8;
    text-shadow: none;
    border: 1px solid #070e14;
}

.atom-panel {
    height: 75%;
    border: solid 1px #217093;
    border-radius: 0 17px 17px 0;
}

.atom-panel--dark {
    background-color: #0d1d2b;
}

.atom-panel--light {
    background-color: #172E42;
}

.atom-panel--left {
    height: 100%;
    border: solid 1px #217093;
    border-radius: 0 14px 14px 0;
    box-shadow: 1px 2px 3px 1px;
}

.atom-toolbar {
    border-radius: 0 14px 14px 0;
    color: #99a9b8;
    display: flex;
    justify-content: flex-start;
    background-color: whitesmoke;
    border: none;
    flex-direction: column;
    overflow-x: hidden;
    line-height: 40px;
    width: 0px;
    transition: width 0.4s cubic-bezier(0, 1.15, 1, 0.93);
}

.atom-toolbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: unset;
}

.atom-toolbar::-webkit-scrollbar {
    width: 6px;
    background-color: unset;
}

.atom-toolbar::-webkit-scrollbar-thumb {
    background-color: #0a1b29;
    border-radius: 5px;
    opacity: .3;
}

.atom-toolbar.atom-toolbar-vertical {
    height: 100%;
}

.atom-toolbar.expanded {
    width: 240px;
}

.atom-toolbar .btn {
    flex: 0 0 auto;
    margin: 2px;
    padding: 0;
    background-color: #4eb8dd;
    background-image: none;
    border-color: #132637;
    height: 50px;
    min-width: 50px;
}

.atom-toolbar .btn:hover {
    color: #d5dce2;
    background-image: linear-gradient(#217093, #217093);
    border: 1px solid #070e14;
}

.atom-toolbar .btn:focus {
    color: #99a9b8;
    text-decoration: none;
    background-color: #217093;
    box-shadow: none;
}

.atom-toolbar .btn:hover:focus {
    color: #99a9b8;
    background-color: #217093;
}

.atom-toolbar.atom-toolbar-vertical .atom-toolbar-spacer {
    margin: .5em 5px;
    border: 0 none;
    border-bottom: 1px solid #1f3e59;
    border-top: 1px solid #070e14;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), #000000, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.atom-toolbar.expanded .btn {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-align: left;
    font-weight: 900;
    padding: 5px;
    margin-top: 34px;
    width: 220px;
}

.atom-toolbar .btn .title {
    display: none;
}

.atom-toolbar.expanded .btn .title {
    display: inline-block;
}

.atom-toolbar .btn .octicon {
    font-size: 24px;
    width: 26px;
}

.atom-toolbar.expanded .btn .octicon {
    margin-right: 5px;
}

.atom-toolbar .atom-toolbar-toggle-button.left {
    margin-left: -2px;
    top: 47%;
    height: 99px;
    width: 18px;
    box-shadow: 2px 2px 0px 1px black;
    border-radius: 7px;
}

.atom-toolbar.expanded .atom-toolbar-toggle-button.left {
    box-shadow: 2px 2px 0px 1px black;
    margin-left: -2px;
    top: 47%;
    height: 99px;
    width: 18px;
    border-radius: 7px;
}

.atom-toolbar-toggle-button {
    left: 0px;
    transition: left 0.4s cubic-bezier(0, 1.15, 1, 0.93);
}

.atom-toolbar-toggle-button.expanded {
    left: 242px;
}

.atom-toolbar-toggle-button.left, .atom-toolbar-toggle-button.right {
    width: 25px;
}

.atom-toolbar .atom-toolbar-toggle-button .atom-toolbar-toggle-button-inner span:before {
    content: '\f078';
}

.atom-toolbar.expanded .atom-toolbar-toggle-button .atom-toolbar-toggle-button-inner span:before {
    content: '\f0a4';
}

.atom-toolbar-toggle-button {
    position: absolute;
    overflow: hidden;
    z-index: 11;
    width: 50px;
    height: 50px;
}

.atom-toolbar-toggle-button:not(.atom-toolbar-toggle-button-visible) .atom-toolbar-toggle-button-inner.left {
    transform: translateX(-50%);
}

.atom-toolbar-toggle-button:not(.atom-toolbar-toggle-button-visible) .atom-toolbar-toggle-button-inner {
    transition: transform 0.4s ease-out 0.1s;
}

.atom-toolbar-toggle-button .atom-toolbar-toggle-button-inner.left {
    right: 0;
}

.atom-toolbar-toggle-button .atom-toolbar-toggle-button-inner {
    background-color: whitesmoke;
    border: solid 1px #217093;
    transition: transform 0.2s ease-out 0s;
}

.atom-toolbar-toggle-button .atom-toolbar-toggle-button-inner {
    width: 35px;
    height: 100px;
    border-radius: 7px;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    will-change: transform;
}

.atom-icon {
    position: relative;
    right: -10px;
}

.dashboard-layout {
    display: flex;
    height: 83%;
}

.menu_form-lang {
    display: grid;
    align-content: space-around;
    height: 100%;
}

.dashboard_container {
    position: relative;
    margin-right: 25px;
    margin-left: 25px;
    width: 100%;
    height: 100%;
    border: solid 1px #217093;
    border-radius: 14px;
    box-shadow: 1px 2px 3px 1px;
}

.time {
    position: relative;
    left: 32px;
    font-size: 30px;
    color: #217093;
}

.weather-info {
    display: flex;
    height: 40.99px;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
}

.weather-info_image {
    position: relative;
    height: 61px;
    width: 66px;
    top: -11px;
}

.span-space {
    border-left: solid 2px #217093;
    width: 32px;
    height: 60px;
}

.container.content-body {
    position: absolute;
    max-width: 100% !important;
    padding: 20px;
    height: 100%;
    background-color: cornsilk;
    border-radius: 14px;
}

.content-title {
    height: 46px;
    font-size: 47px;
    font-weight: 900;
    font-family: system-ui;
}

.form-label.edit{
    font-size: 17px;
}

.mt-4 {
    text-align: center;
}

tbody, td, tfoot, th, thead, tr{
    height: 54px;
    border-color: black !important;
    border-style: solid !important;
}

.tr-flex {
    display: flex;
    justify-content: space-around;
    border-left: none !important;

}

.action-col {
    width: 227px;
}

.content-btn {
    width: 100px;
    background-image: none;
}

.btn-warning {
    color: #fff !important;
}

.btn-warning:hover {
    color: #fff !important;
}

.modal-dialog {
    position: relative;
    top: 30%;
}

.table_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
