.container{
    margin-top: 100px ;
    align-items: center;
    position: relative;

}

.block{
    position: fixed;
    margin-left: 400px;
}

.title{
    position: relative;
    width: 400px;
}

.title_name{
    position: relative;
    font-size: 30px;
    font-style: normal;
    align-items: center;
}

.form-floating{
    width: 400px;
    position: relative;
}


.login_btn{
    display: flex;
    align-items: center;
    align-content: space-between;
    position: relative;
}

.btn{
    font-style: italic;
}


.fa-regular{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-12px, -19px);
}

.forgot_link{
    position: absolute;
    right: 0;
}
