#successAlert{
    display: none;
}

#successAlert.show {
    display: block;
}

.card {
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.list-group-item {
    border: none;
    padding: 5px 10px;
}

.list-group-item a {
    text-decoration: none;
    color: #000;
}

.list-group-item a:hover {
    text-decoration: underline;
}
