/*.department-body{*/
/*    background-color: gainsboro !important;*/
/*}*/

.header-title{
    margin-top: 32px;
    text-align: center;
    height: 97px;
    font-size: 47px;
    font-weight: 900;
    font-family: system-ui;
}

.card{
    height: 100% !important;
}

.card-body.pt-0{
    margin-top: 22px;
}

.upload-btn{
    font-size:13px;
    text-transform: uppercase;
    color: #888;
}
#upload_label{
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 14px;
}
#upload_label:hover, #upload_label:focus{
    color: #222;
}

.avatar{
    border-radius: 22%;
    border: 2px solid #fff;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transform: translateZ(0);
    transition: border-color 200ms;
}
.avatar--upload-error{
    border-color: #F73C3C;
    animation: shakeNo 300ms 1 forwards;
}
@keyframes shakeNo{
    20%, 60%{
        transform: translateX(6px);
    }
    40%, 80%{
        transform: translate(-6px);
    }
}
.avatar:hover .avatar_upload, .avatar--hover .avatar_upload{
    opacity: 1;
}
.avatar:hover .upload_label, .avatar--hover .upload_label{
    display: block;
}
#preview::after{
    content: 'Loading...';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
    line-height: 150px;
    color: #999;
}
.avatar_img--loading{
    opacity: 0;
}
.avatar_img{
    width: 100%;
    height: auto;
    animation: inPop 250ms 150ms 1 forwards cubic-bezier(0.175, 0.885, 0.32, 1.175);
    transform: scale(0);
    opacity: 0;
}
@keyframes inPop {
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.avatar_img--rotate90{
    transform: rotate(90deg);
}
.avatar_upload{
    border-radius: 101px;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    text-align: center;
    height: 88%;
    background: #25cfe3;
    background: rgba(44, 205, 251, 0.6);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 500ms;
}
.upload_label{
    color: #111;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px;
    border-radius: 3px;
    min-width: 60px;
    width: 100%;
    max-width: 80px;
    margin: auto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    animation: popDown 300ms 1 forwards;
    transform: translateY(-10px);
    opacity: 0;
    display: none;
    transition: background 200ms, color 200ms;
}
@keyframes popDown{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.upload_label:hover{
    color: #fff;
    background: #222;
}
#upload{
    width: 100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: block;
    padding: 0;
    text-align: center;
}

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .avatar_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}
