.space {
    height: 60px;
}

#panel-body_fix {
    position: relative;
    top: 100px;
}

#forget-form {
    width: 400px;
    border: solid 2px #217093;
    border-radius: 50px;
}

#btn-reset {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.text-center {
    color: #fff;
}

.sc-alert {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}


