.navbar{
    position: relative;
    height: 60px;
    background-color: darkcyan;
}


.nav_title{
    margin: 0px 0px 0px 10px ;
}

.nav_title-name{
    font-style: italic;
    color: deepskyblue;
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    top: -3px;
}


.form{
    position: absolute;
    width: 200px;
    right: 10px ;
}

.lang_form{
    padding: 0;
}


.footer{
    background-color: darkcyan;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}


