.body-image {
    background-size: cover;
    background-repeat: round;
    background-image: url('http://qlhs.com/anh-may-hoat-hinh.jpg');
}

.navbar {
    position: relative;
    height: 60px;
}

.nav_title {
    margin: 0px 0px 0px 10px;
}

.nav_title-name {
    font-style: initial;
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    position: relative;
    top: -15px;
    font-weight: bolder;
    font-family: cursive;
}

.form-lang {
    position: absolute;
    width: 200px;
    right: 10px;
}

.lang_form {
    padding: 0;
}



