.container{
    margin-top: 100px ;
    align-items: center;
    position: relative;
}


.block{
    margin-left: 400px;
}

.title{
    position: relative;
    width: 400px;
    margin-bottom: 20px;
}

.title_name{
    position: relative;
    font-size: 40px;
    font-style:normal;
    align-items: center;
    color: red;
}

.form-floating{
    width: 400px;
    position: relative;
}

.login_btn{
    position: absolute;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.fa-regular{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-12px, -19px);
}


.login_btn .btn.btn-link{
    color: white;
    background-color: red;
    border: solid 1px;
}

.social.title{
    font-size: 8px;
}

#errorAlert{
    display: none;
}

#errorAlert.show {
    display: block;
}
